/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  background-color: #F6F6F6;
  overflow: hidden;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1835px;
  width: 90%;
  margin: 0 auto;
}

/* Header style start here */

header{
  background-color: #000;
}

header .wrapper {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header .menu-item,
.logout-btn {
  padding: 10px;
  color: #fff;
  font-size: 17px;
}

.logout-btn {
  border: none;
  background-color: #000;
}

.logo .logo-text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

/* Header style end here */

/* Home page style start here */
.home-form {
  width: 45%;
  margin: 20px auto;
  border: 1px solid #000;
  position: relative;
  background-color: #fff;
}
.home-form .input-control input {
  width: 90%;
  border: none;
  position: relative;
}

.home-form::after{
  content: '\f002';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-family: fontAwesome;
  font-size: 25px;
}

.all-place,
.all-guides {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.guide-list h1,
.guide h1{
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.place-card {
  width: 35%;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 20px 0;
  transition: ease .4s;
}

.place-card:hover{ box-shadow: 0 0 20px rgba(0, 0, 0, .5); }

.guide {padding: 25px 0;}
.guide .place-card:hover {box-shadow: none;}

.place-card figure { 
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.place-card p {margin: 10px 0;}

.place-card .card-inner { color: #000; }

.card-heading {
  margin: 20px 0;
  font-size: 25px;
  font-weight: bold;
}

.guide-place {
  margin: 10px 0;
  font-weight: bold;
}

.guide-details .place-card {
  margin: 0 auto;
}
/* Home page style ends here */

/* Login page style start here */
.form{
  text-align:  center;
}
.form-heading {
  margin: 20px 0;
  font-size: 25px;
  font-weight: bold;
}
.login-form{
  width: 20%;
  margin: 0 auto;
}

.input-control input {
  width: 100%;
  padding: 8px;
  border: 1px solid #000;
  outline: none;
  margin: 10px 0;
  box-sizing: border-box;
  transition: ease;
}

.input-control input[type='submit']:hover {
  background-color: #000;
  color: #fff;
}


/* Login page style start here */
